<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.kopo.springboot.board.dao.BoardDAOImpl">
    <resultMap id="boardMap" type="BoardVO">
        <result column="title" property="title"/>
        <result column="reg_date" property="regDate"/>
        <result column="view_cnt" property="viewCnt"/>
    </resultMap>
    <select id="selectAll" resultMap="boardMap">
        SELECT NO, TITLE, WRITER, CONTENT, VIEW_CNT, REG_DATE
          FROM T_BOARD
         ORDER BY NO DESC
    </select>

    <select id="selectByNo" parameterType="int" resultMap="boardMap">
        SELECT *
          FROM T_BOARD
         WHERE NO = #{NO}
    </select>
    <insert id="boardInsert" parameterType="BoardVO">
        INSERT INTO T_BOARD(no, title, writer, content) VALUES (seq_t_board.nextval, #{title}, #{writer}, #{content})
    </insert>
</mapper>